header {
  background-color: darkred;
  height: 70px;
  padding: 0 25px;
  font-size: 30px;
  color: white;
}

.links {
  text-align: right;
  background-color: rgb(42, 45, 45);
  color: white;
  text-decoration: underline;
  height: 30px;
  padding: 0 25px;
}

section img {
  height: 400;
  width: 800;
  padding: 0 25px;
}

article {
  padding: 0 25px;
}